
import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --orange: #E57C23;
    --navy: #025464;
    --mikan: #E8AA42;
    --whit: #F8F1F1;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    background: var(--white);
    color: var(--navy);
}

.container {
    width: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}